html {
    background-image:url(
    https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
}

/*fix unvisited link color*/
.navbar {
    list-style: none;
    width: 100%;
    text-align: left;
    display: flex;
    margin-right: 2rem;
    float: left;

}

.navbar a:link {
    display: block;
    font-size: 2.2rem;
    padding: 2.5rem;
    color: purple;
}

.navbar a:visited {
    color: yellow;
}

.navbar a:hover {
    background: hotpink;
}

/*remove margins and padding */
ul {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: pink;
}


header > h1 {
    width: auto;
    font-family: Andale Mono, monospace;
    overflow: hidden;
    display: inline-block;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: .15em;
    animation:
            typing 3s steps(30,end),
            blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { max-width: 0 }
    to { max-width: 38%; }
}
/* alternative header styling*/

/*header > h1 {*/
/*    font-family: Andale Mono, monospace;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    color: pink;*/
/*}*/

header > p {
    font-family: Andale Mono, monospace;
    justify-content: flex-start;
    font-weight: 250;
    text-align: center;
    font-size: 1rem;
    color: white;
}

footer {
    text-align: right;
    color: white;
    font-size: 20px;
}


